@import "tailwindcss";
@config "../tailwind.config";

@theme{
    --color-secd: #dedede;
    --breakpoint-*:initial;
    --breakpoint-tablet:40rem;
    --breakpoint-laptop:64;
    --breakpoint-desktop:80rem;
}